body {
    margin-top: 50px;
    background-color:cadetblue;
}

.jumbotron img {
    width: 25%;
}

section {
    min-height: 200px;
}

footer {
    min-height: 50px;
    padding-top:12px;
}

.col-md py-4 img{
    width: 100%;
}
